* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.db binary
*.gif binary
*.icns binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.sqlite binary
*.webp binary
